<!DOCTYPE html>
<html lang="ru">
{% extends "index.html" %}
{% block content %}
       <main class="main-content">
        <div class="container">
            <section>
                <h2 class="section-title">Автомобили в наличии</h2>
                <div class="cars-grid">
                    <div class="car-card">
                        <img src="../static/image/584x438.webp" alt="yral" class="car-image">
                        <div class="car-info">
                            <div class="car-name">Toyota Camry</div>
                            <div class="car-price">2 500 000 ₽</div>
                            <div class="car-details">
                                <p>Комплектация: Comfort</p>
                                <p>Цвет: Белый</p>
                                <p>Категория: Седан</p>
                            </div>
                            <a href="#" class="btn">Подробнее</a>
                        </div>
                    </div>
                    
                    <div class="car-card">
                        <img src="../static/image/i.webp" alt="yral" class="car-image">
                        <div class="car-info">
                            <div class="car-name">Mercedes e200</div>
                            <div class="car-price">3 200 000 ₽</div>
                            <div class="car-details">
                                <p>Комплектация: Люкс</p>
                                <p>Цвет: Черный</p>
                                <p>Категория: Седан</p>
                            </div>
                            <a href="#" class="btn">Подробнее</a>
                        </div>
                    </div>
                    
                    <div class="car-card">
                       <img src="../static/image/1200x900.webp" alt="yral" class="car-image">
                        <div class="car-info">
                            <div class="car-name">BMW X5</div>
                            <div class="car-price">5 800 000 ₽</div>
                            <div class="car-details">
                                <p>Комплектация: Premium</p>
                                <p>Цвет: Синий</p>
                                <p>Категория: Внедорожник</p>
                            </div>
                            <a href="#" class="btn">Подробнее</a>
                        </div>
                    </div>
                    
                    <div class="car-card">
                       <img src="../static/image/1200x900 (1).webp" alt="yral" class="car-image">
                        <div class="car-info">
                            <div class="car-name">Kia Rio</div>
                            <div class="car-price">1 400 000 ₽</div>
                            <div class="car-details">
                                <p>Комплектация: Classic</p>
                                <p>Цвет: Серый</p>
                                <p>Категория: Седан</p>
                            </div>
                            <a href="#" class="btn">Подробнее</a>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <h2 class="section-title">Наши продавцы</h2>
                <div class="sellers-grid">
                    <div class="seller-card">
                        <img src="..\static\image\vadim.webp" alt="yral" class="car-image">
                        <div class="seller-name">Вадим Лизогуб</div>
                        <div class="seller-position">Старший менеджер</div>
                        <div class="seller-phone">+7 987 654-32-10</div>
                    </div>
                    
                    <div class="seller-card">
                        <img src="..\static\image\gadji.webp" alt="yral" class="car-image">
                        <div class="seller-name">Гаджимурат Великанович</div>
                        <div class="seller-position">Менеджер по продажам</div>
                        <div class="seller-phone">+7 999 777-66-55</div>
                    </div>
                    
                    <div class="seller-card">
                       <img src="../static/image/vlad.webp" alt="yral" class="car-image">
                        <div class="seller-name">Владислав Медикометович</div>
                        <div class="seller-position">Директор</div>
                        <div class="seller-phone">+7 000 228-14-88</div>
                    </div>
                </div>
            </section>
        </div>
        </main>
{% endblock %}
        